@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
}

/* --------------------------------------------------
* Theme colours (CSS variables)
* --------------------------------------------------
*
* Store as variables for reuse and maintainability. 
*/
:root {
  /* 60% — background */
  --light-text: #fafafe;

  /* 30% — primary actions and supporting surfaces) */
  --primary: #87e6ff;
  --secondary: #008385;
  --thirdOption: #b9bffb;
  --thirdOption_1: #c9cdfa;
  --fourOption: #beffe4;
  --fiveOption: #ffe4e5;
  --sixOption: #fef196;
  --sevenOption: #00a9a3;
  --eightOption: #5569b8;
  /* 10% — accent for emphasis and interaction */
  --AOption: #f469c3;
  --BOption: #fc6945;
  --COption: #00a9a3;

  /* Button border widths */
  --btn-border-width: 3px;
  --btn-border-width-hover: 5px;

  .fc .fc-header-toolbar {
    background: var(--primary);
    padding: 16px;
    border-radius: 18px;
  }

  .fc .fc-day-today {
    background-color: var(--thirdOption_1) !important; /* 你想要的颜色 */
  }
  .fc .fc-button {
    background-color: var(--AOption) !important;
    border: none !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    padding: 10px 16px !important;
  }

  .fc .fc-button:hover {
    background-color: #2563eb !important;
  }

  .fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: var(--fiveOption) !important;
    color: #3d3d3d !important;
  }

  .fc .fc-toolbar-title {
    color: #667cb9;
    font-size: 40px;
    font-weight: 700;
  }
}

body {
  background-color: var(--light-text);
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Roboto", sans-serif;
  color: var(--eightOption);
  font-weight: 700;
  font-size: 24px;
  font-weight: bold;
}

legend {
  font-family: "Roboto", sans-serif;
  color: var(--eightOption);
  font-size: 24px;
  font-weight: bold;
}

.shadows-into-light-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#new-meeting-container {
  /* display: none; */
}

#new-meeting-overlay * {
  padding: 1%;
  margin: 1%;

  display: block;
}

#meeting-duration-container * {
  float: left;
}

textarea {
  resize: none;
  min-width: 10%;
}